<ion-view view-title="Account">
  <ion-content>
      <div class="item item-button-right">
        Remove All Plants
        <button class="button button-positive"
                ng-click="accountCtrl.clearAll()">
          <i class="icon ion-trash-a"></i>
        </button>
      </div>

      <div class="item item-button-right">
        Push notification
        <button class="button button-positive"
                ng-click="accountCtrl.pushNotification()">
          <i class="icon ion-ios-cloud-upload"></i>
        </button>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
