.plant{
  &__title{
    width: 100px;
    display: inline-block;
    color: #44b39d;
  }
}

.plants-list-splash-screen{
  transition: all 1s ease;
  opacity: 0;
  position: absolute;
  text-align: center;
  color: #C5C5C5;
  height: 290px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  &__icon{
    display: inline-block;
    font-size: 190px;
    color: #44B39D;
  }

  &__text{
    font-size: 24px;
    width: 240px;
    margin: auto;
  }
}

.fade-in{
  transition: all 2s ease;
  transform: translateY(-20px);
  opacity: 1;
}