<ion-view view-title="Plants">

    <ion-content>
        <div class="plants-list-splash-screen"
             ng-if="!plantsListCtrl.plants.length">

            <i class="icon ion-ios-rose-outline plants-list-splash-screen__icon"></i>
            <div class="col col-33 col-offset-33">
                You have no plants
                tap plus icon to add new
            </div>
        </div>

        <ion-list ng-if="plantsListCtrl.plants.length">

            <ion-item class="item-remove-animate item-avatar item-icon-right plant"
                      ng-repeat="plant in plantsListCtrl.plants track by $index"
                      ng-click="plantsListCtrl.onItemClick()"
                      type="item-text-wrap"
                      href="#/tab/plants/{{plant.id}}">

                <img ng-src="{{plant.image}}">
                <h2>{{plant.name}}</h2>
                <p><span class="plant__title">Last watering:</span> {{plant.lastWatering | date : 'HH:mm dd MMMM yyyy'}}</p>
                <p><span class="plant__title">Next watering:</span> {{plant.nextWatering | date : 'HH:mm dd MMMM yyyy'}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive"
                                   ng-click="plantsListCtrl.removePlant(plant)">
                    Delete
                </ion-option-button>
            </ion-item>

        </ion-list>
    </ion-content>

    <ion-add-item target-state="tab.new-plant"></ion-add-item>
</ion-view>
